.Container {
    background-color: #dddddd;
}

.WhiteBox1 {
    background-color:#ffffff;
}

.TitleName{
    background-color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    
}

#ReverseTeal{
    background:#ffffff;
    color:#4aaaa5;
}


.WhiteBox2{
    background-color: #ffffff;
}