body{
    background-image: url("../images/honey_im_subtle.png");
}

.Container {
    background-image: url("../images/honey_im_subtle.png");
    widows: 100%;
    height: 100%;
    text-align:center;
}

.WhiteBox1 {
    background-color:#ffffff;
    width:100%;
    height:105px;
    border-bottom:2px #666666 solid;
}

a {
    color:gray;
    text-decoration: none;
    font-size:12px;
}

.TitleName{
    background-color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    float:left;
    font-size:24px;
    margin-left:140px;
    margin-right:40%;
    padding:20px;
    position: relative;
    top:40px;
}

.LeftWord {
    margin:6px;
    float:right;
    position: absolute;
    top:65px;
    right:150px;
}

.ContactForm{
    position:absolute;
    top:100px;
    left:17px;
    text-align:left;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;
}

.FormBoxBig{
    padding:50px;
    width:600px;
}

.FormBoxSmall{
    width:600px;
    padding:10px;
}

.ColoredButton{
    background:#4aaaa5;
    border-color: #4aaaa5;
    color:#ffffff;
}
.Seperator{
    width:100%;
    height:20px;
    background: #4aaaa5;
    position:absolute;
    bottom:60px;
}

.Footer{
    width:100%;
    height:60px;
    background:#666666;
    position:absolute;
    bottom:0px;
    text-align:center;
}

.CenterWord{
    float:right;
    margin:6px;
    border-left:solid 1px gray;
    border-right:solid 1px gray;
    padding:0px 13px 0px 13px;
    position: absolute;
    top:65px;
    right:70px;
}

.RightWord{
    float:right;
    margin:6px;
    position: absolute;
    top:65px;
    right:20px;
}

#ReverseTeal{
    margin-left:120px;
    background:#ffffff;
    color:#4aaaa5;
    width:80%;
    border-bottom: 2px #666666 solid;
    text-align:left;
    position:absolute;
    display:block;
    top:0px;
    right:-230px;
}

p{
    display:block;
}
.WhiteBox2{
    background-color: #ffffff;
    clear:both;
    width:960px;
    height:960px;
    margin:20px;
    display:inline-block;
    position: relative;
}

.PortfolioImg{
    width:100px;
    height:auto;
    float:left;
}