.Container {
    background-color: #dddddd;
    margin:20px;
}

.WhiteBox1 {
    background-color:#ffffff;
}

a {
    color:gray;
    text-decoration: none;
    font-size:12px;
}

.TitleName{
    background-color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    float:left;
    font-size:24px;
    margin:50px;
    padding:40px;
    position: relative;
}

.LeftWord {
    margin:10px;
    float:right;
    
}

.CenterWord{
    float:right;
    margin:10px;
}

.RightWord{
    float:right;
    margin:10px;
}

#ReverseTeal{
    background:#ffffff;
    color:#4aaaa5;
    width:80%;
    border-bottom: 2px #666666 solid;
}


.WhiteBox2{
    background-color: #ffffff;
    clear:both;
    height:960px;
    margin:20px;
}

.PortfolioImg{
    width:100px;
    height:auto;
    float:left;
}